<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup Page</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-login">
                <img src="/static/images/SCMlogo.png" alt="Logo" class="logo">
                <span class="title">Password Reset</span>
                <form action="/forgotpassword" autocomplete="off" method="post">
                    <div class="input-field">
                        <input type="email" name="email" class="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>

                    <!-- Display error message if it exists -->
                    {% if error_message %}
                    <div id="error-message" class="error-message">
                        <p>{{ error_message }}</p>
                    </div>
                    {% endif %}
                    
                    <div class="input-field button">
                        <input type="submit" value="Send mail">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/js/resetpass.js"></script>
</body>

</html>