<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Create Successful</title>
    <link rel="stylesheet" href="/static/css/accverification.css">
    <meta http-equiv="refresh" content="4; url='/login'"/>
<body>
    <form action="/resetlink"  method="get">
        <div class="container">
            <span>Password reset Successfully. You will be redirected to the login page</span>
        </div>
    </form>
</body>
</html>


